"*":
  _dartlang:
    _errorsInitialized: true
    _firstRun: true
    _version: "0.6.12"
  aligner:
    ":":
      alignment: "left"
      leftSpace: false
  "aligner-css": {}
  "aligner-scss": {}
  "atom-alignment":
    addSpacePostfix: true
  "atom-beautify":
    _analyticsUserId: "7df57478-dfe5-4ace-b2d7-7a2715acafcd"
    beautifyEntireFileOnSave: false
  "atom-color-highlight": {}
  "atom-fuzzy-grep": {}
  "atom-material-ui":
    colors:
      abaseColor:
        alpha: 1
        blue: 226
        green: 148
        red: 82
      predefinedColor: "Red"
    fonts:
      fontSize: 15
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-ternjs":
    useSnippets: true
    useSnippetsAndFunction: true
  "autocomplete-modules":
    webpack: true
  "autocomplete-plus":
    backspaceTriggersAutocomplete: false
    confirmCompletion: "tab"
    enableBuiltinProvider: false
    enableExtendedUnicodeSupport: true
    maxVisibleSuggestions: 15
    suggestionListFollows: "Word"
  autoprefixer: {}
  "coffee-compile": {}
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "spell-check"
      "welcome"
      "atom-resizable-panes"
      "Sublime-Style-Column-Selection"
      "atom-save-all"
      "gutter-shadow"
      "linter-jscs"
      "php-twig"
      "linter-jshint"
      "language-coffee-script-angular"
      "less-than-slash"
      "ctags-status"
      "pane-split-moves-tab"
      "flex-tool-bar"
      "tool-bar"
      "atom-toolbar"
      "emmet"
      "dartlang"
      "atom-beautify"
      "synced-sidebar"
      "polymer-snippets"
    ]
    followSymlinks: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_STORE"
      "Thumbs.db"
      "__MACOSX"
      "node_modules"
      "bower_components"
      ".sass-cache"
      ".tmp"
    ]
    packagesWithKeymapsDisabled: [
      "emmet"
    ]
    projectHome: "/home/nsdragon/Development"
    themes: [
      "one-dark-ui"
      "an-old-hope-syntax"
    ]
  "ctags-status": {}
  dartlang:
    sdkLocation: "/opt/dart-sdk"
  docblockr:
    deep_indent: true
  editor:
    backUpBeforeSaving: true
    fontFamily: "Fira Code"
    fontFamilyTestString: "iIl1 o0O S5 Z2 ~ {}[]<> ,.+-= ___"
    fontSize: 13
    invisibles:
      eol: "$"
      tab: "→"
    lineHeight: 1.2
    scrollPastEnd: true
    softWrap: true
    softWrapHangingIndent: 4
    useHardwareAcceleration: true
  emmet: {}
  "exception-reporting":
    userId: "39b24e7e-91ae-8dea-5a76-598883ed3eec"
  "file-icons":
    onChanges: true
  "find-and-replace": {}
  fonts:
    fontFamily: "FiraCode"
    preview: "The Quick brown fox { 0 !== \"O\" } iIl1 o0O S5 Z2 ~ {}[]<> ,.+-= ___"
  "fuzzy-finder": {}
  "genesis-ui":
    distractionFree:
      hideBottom: false
      hideFiles: false
      hideTabs: false
    treeView:
      toggleHovers: false
  "git-blame":
    dateFormatString: "YY-MM-DD"
    showOnlyLastNames: false
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus": {}
  "highlight-line":
    enableBackgroundColor: false
  "isotope-light-ui":
    customBackgroundColor: false
    fontFamily: "System Default"
    fontWeight: "Regular"
    lowContrastTooltip: true
  "isotope-ui":
    backgroundColor: "false"
    backgroundImage: true
    backgroundImagePath: "/home/nsdragon/Pictures/Wallpapers/wallbase/wallpaper_185596078.png"
    customBackgroundColorPicker:
      alpha: 1
      blue: 63
      green: 52
      red: 47
    fontFamily: "Oxygen"
    fontWeight: "Light"
  "less-than-slash": {}
  linter:
    gutterPosition: "Left"
    lintOnFly: false
    showErrorTabLine: true
    statusIconScope: "File"
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    globalNodePath: "/home/nsdragon/.nvm/current"
    lintHtmlFiles: true
  "linter-jscs":
    onlyConfig: true
    preset: "google"
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-scss-lint":
    disableWhenNoConfigFileInPath: true
    executablePath: "/home/nsdragon/.rvm/gems/ruby-2.2.2/wrappers/scss-lint"
  "markdown-preview":
    useGitHubStyle: true
  "markdown-writer": {}
  "merge-conflicts": {}
  metrics: false
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "color-highlight": true
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "one-dark-ui":
    layoutMode: "Compact"
    tabSizing: "Even"
  "open-recent":
    maxRecentDirectories: 10
    maxRecentFiles: 10
  "opened-files": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  pigments:
    ignoredNames: [
      ".atom/packages/*"
    ]
  "project-palette-finder": {}
  react:
    disableAutoClose: true
  "recent-files":
    updated: false
  "seti-ui":
    compactView: true
    themeColor: "Steel"
  "status-bar": {}
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tool-bar":
    position: "Left"
    visible: false
  "tree-view": {}
  "tree-view-open-files": {}
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".angular.html.text":
  editor:
    softWrapHangingIndent: 4
".coffee.jsx.source":
  editor:
    softWrapHangingIndent: 4
".coffee.source":
  editor:
    softWrapHangingIndent: 4
".css.scss.source":
  editor:
    softWrapHangingIndent: 4
".dart.source":
  editor:
    softWrapHangingIndent: 4
".diff.source":
  editor:
    softWrapHangingIndent: 4
".ini.source":
  editor:
    softWrapHangingIndent: 4
".jade.source":
  editor:
    softWrapHangingIndent: 4
  whitespace:
    ignoreWhitespaceOnCurrentLine: true
    removeTrailingWhitespace: false
".js.jsx.source":
  editor:
    softWrapHangingIndent: 4
".js.regexp.replacement.source":
  editor:
    softWrapHangingIndent: 4
".js.regexp.source":
  editor:
    softWrapHangingIndent: 4
".js.source":
  editor:
    softWrapHangingIndent: 4
".litcoffee.source":
  editor:
    softWrapHangingIndent: 4
".plain.text":
  editor:
    softWrapHangingIndent: 4
".sass.source":
  editor:
    softWrapHangingIndent: 4
".source.yaml-ext":
  editor:
    softWrapHangingIndent: 4
