"*":
  aligner:
    ":":
      alignment: "left"
      leftSpace: false
  "aligner-css": {}
  "aligner-scss": {}
  "atom-alignment":
    addSpacePostfix: true
  "atom-beautify":
    _analyticsUserId: "7df57478-dfe5-4ace-b2d7-7a2715acafcd"
    beautifyEntireFileOnSave: false
  "atom-color-highlight": {}
  "atom-fuzzy-grep": {}
  "atom-material-ui":
    colors:
      abaseColor: {}
      accentColor: {}
    fonts: {}
    panels:
      depth: true
      panelContrast: true
    tabs:
      rippleAccentColor: true
      showTabIcons: "Show on all tabs"
      tabSize: "Small"
    treeView:
      compactList: true
      compactTreeView: true
    ui:
      animations: false
  "autocomplete-plus":
    backspaceTriggersAutocomplete: false
    confirmCompletion: "tab"
    enableBuiltinProvider: false
    suggestionListFollows: "Word"
  autoprefixer: {}
  "coffee-compile": {}
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "spell-check"
      "welcome"
      "atom-resizable-panes"
      "Sublime-Style-Column-Selection"
      "atom-save-all"
      "gutter-shadow"
      "fonts"
      "tree-view-open-files"
      "linter-jscs"
      "php-twig"
      "linter-jshint"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_STORE"
      "Thumbs.db"
      "node_modules"
      ".sass-cache"
      ".tmp"
    ]
    packagesWithKeymapsDisabled: [
      "emmet"
    ]
    projectHome: "/home/nsdragon/Development"
    themes: [
      "nucleus-dark-ui"
      "an-old-hope-syntax"
    ]
  "ctags-status": {}
  docblockr: {}
  editor:
    backUpBeforeSaving: true
    fontFamily: "Fira Mono"
    fontFamilyTestString: "iIl1 o0O S5 Z2 ~ {}[]<> ,.+-= ___"
    fontSize: 15
    invisibles:
      eol: "$"
      tab: "→"
    lineHeight: 1.2
    scrollPastEnd: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 4
    useHardwareAcceleration: true
  emmet: {}
  "exception-reporting":
    userId: "39b24e7e-91ae-8dea-5a76-598883ed3eec"
  "file-icons":
    onChanges: true
  fonts:
    fontFamily: "Fira Mono"
  "fuzzy-finder": {}
  "git-blame":
    dateFormatString: "YY-MM-DD"
    showOnlyLastNames: false
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus": {}
  "highlight-line":
    enableBackgroundColor: false
  "isotope-light-ui":
    customBackgroundColor: false
    fontFamily: "System Default"
    fontWeight: "Regular"
    lowContrastTooltip: true
  "isotope-ui":
    backgroundColor: "false"
    backgroundImage: true
    backgroundImagePath: "/home/nsdragon/Pictures/Wallpapers/wallbase/wallpaper_185596078.png"
    customBackgroundColorPicker:
      alpha: 1
      blue: 45
      green: 45
      red: 45
    fontFamily: "Roboto"
    fontWeight: "Regular"
  linter:
    lintOnFly: false
    showErrorTabLine: true
    statusIconScope: "File"
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    globalNodePath: "/home/nsdragon/.nvm/current"
  "linter-jscs":
    onlyConfig: true
    preset: "google"
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-scss-lint":
    executablePath: "/home/nsdragon/.rvm/gems/ruby-2.2.2/wrappers/scss-lint"
  "markdown-preview":
    useGitHubStyle: true
  "markdown-writer": {}
  "merge-conflicts": {}
  metrics: false
  minimap:
    plugins:
      bookmarks: true
      "color-highlight": true
      "git-diff": true
      "highlight-selected": true
      linter: true
      selection: true
  "one-dark-ui": {}
  "open-recent":
    maxRecentDirectories: 10
    maxRecentFiles: 10
  "opened-files": {}
  pigments:
    ignoredNames: [
      ".atom/packages/*"
    ]
  "project-palette-finder": {}
  "recent-files":
    updated: false
  "status-bar": {}
  tabs:
    usePreviewTabs: true
  "tree-view-open-files": {}
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".diff.source":
  editor:
    softWrapHangingIndent: 4
".jade.source":
  whitespace:
    ignoreWhitespaceOnCurrentLine: true
    removeTrailingWhitespace: false
