"*":
  Zen:
    showWordCount: "Right"
    width: 120
  _dartlang:
    _errorsInitialized: true
    _firstRun: true
    _version: "0.6.12"
  "activate-power-mode":
    autoToggle: false
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
    defaultInputValue: "Project root"
    fuzzyMatch: true
  aligner:
    ":":
      alignment: "left"
      leftSpace: false
  "aligner-css": {}
  "aligner-scss": {}
  "atom-alignment":
    addSpacePostfix: true
  "atom-beautify":
    general:
      _analyticsUserId: "7df57478-dfe5-4ace-b2d7-7a2715acafcd"
      beautifyEntireFileOnSave: false
  "atom-color-highlight": {}
  "atom-fuzzy-grep": {}
  "atom-material-ui":
    colors:
      abaseColor: "#455a64"
      accentColor: "#ff4081"
    fonts:
      fontSize: 15
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-package-deps":
    ignored: []
  "atom-ternjs":
    useSnippets: true
    useSnippetsAndFunction: true
  "autocomplete-modules":
    webpack: true
  "autocomplete-plus":
    backspaceTriggersAutocomplete: false
    confirmCompletion: "tab"
    enableBuiltinProvider: false
    enableExtendedUnicodeSupport: true
    maxVisibleSuggestions: 15
    suggestionListFollows: "Word"
  autoprefixer: {}
  "coffee-compile": {}
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "spell-check"
      "welcome"
      "atom-resizable-panes"
      "Sublime-Style-Column-Selection"
      "atom-save-all"
      "gutter-shadow"
      "php-twig"
      "language-coffee-script-angular"
      "less-than-slash"
      "ctags-status"
      "pane-split-moves-tab"
      "atom-toolbar"
      "emmet"
      "dartlang"
      "synced-sidebar"
      "polymer-snippets"
      "autocomplete-haskell"
      "haskell-ghc-mod"
      "language-haskell"
      "indent-guide-improved"
      "whitespace"
      "minimap-highlight-selected"
      "fonts"
      "atom-polymer"
      "atom-typescript"
      "blame"
      "linter-csslint"
      "language-babel"
      "linter-coffeelint"
      "wrap-guide"
    ]
    followSymlinks: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_STORE"
      "Thumbs.db"
      "__MACOSX"
      "node_modules"
      "bower_components"
      ".sass-cache"
      ".tmp"
    ]
    packagesWithKeymapsDisabled: [
      "emmet"
    ]
    projectHome: "/home/nsdragon/Development"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "pure-syntax"
    ]
  "ctags-status": {}
  dartlang:
    sdkLocation: "/opt/dart-sdk"
  docblockr:
    deep_indent: true
  editor:
    backUpBeforeSaving: true
    fontFamily: "Fira Code"
    fontFamilyTestString: "iIl1 o0O S5 Z2 ~ {}[]<> ,.+-= ___"
    fontSize: 16
    invisibles:
      eol: "$"
      tab: "→"
    lineHeight: 1.3
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapHangingIndent: 4
  emmet: {}
  "exception-reporting":
    userId: "39b24e7e-91ae-8dea-5a76-598883ed3eec"
  "file-icons":
    onChanges: true
  "find-and-replace": {}
  fonts:
    fontFamily: "Source Code Pro Medium"
    preview: "The Quick brown fox { 0 !== \"O\" } iIl1 o0O S5 Z2 ~ {}[]<> ,.+-= ___ => >="
  "fuzzy-finder": {}
  "genesis-ui":
    distractionFree:
      hideBottom: false
      hideFiles: false
      hideTabs: false
    treeView:
      toggleHovers: false
  "git-blame":
    dateFormatString: "YY-MM-DD"
    showOnlyLastNames: false
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus":
    general:
      _analyticsUserId: "74ba6d92-f1ab-445e-84ae-67187992b6a9"
  "gruvbox-plus-syntax": {}
  "highlight-line":
    enableBackgroundColor: false
  "isotope-ui":
    backgroundImage: true
    backgroundImagePath: "/home/nsdragon/Pictures/Wallpapers/wallbase/wallpaper_185596078.png"
    fontFamily: "Clear Sans"
    minimalMode: true
  "language-babel":
    autoIndentJSX: true
  linter: {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    lintHtmlFiles: true
    scopes: [
      "source.js"
      "source.jsx"
      "source.js.jsx"
      "source.babel"
      "source.js-semantic"
      "text.html.vue"
    ]
  "linter-jscs":
    onlyConfig: true
    preset: "google"
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-sass-lint":
    noConfigDisable: true
  "linter-scss-lint":
    disableWhenNoConfigFileInPath: true
    executablePath: "/home/nsdragon/.rvm/gems/ruby-2.2.2/wrappers/scss-lint"
  "linter-ui-default":
    panelHeight: 69
    showProviderName: true
    tooltipFollows: "Keyboard"
  "markdown-preview": {}
  "markdown-writer": {}
  "merge-conflicts": {}
  metrics: false
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "color-highlight": true
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "nebula-ui":
    focusMode: false
  "nord-atom-ui":
    darkerFormFocusEffect: true
  "one-dark-ui":
    fontSize: 12
    tabSizing: "Even"
  "open-recent":
    maxRecentDirectories: 10
    maxRecentFiles: 10
  "open-vim": {}
  "opened-files": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  pigments:
    ignoredNames: [
      ".atom/packages/*"
    ]
  "pristine-ui":
    tabSizing: "Even"
  "project-palette-finder": {}
  react:
    disableAutoClose: true
  "recent-files":
    updated: false
  "seti-syntax":
    dynamicColor: false
    themeColor: "Steel"
  "seti-ui":
    compactView: true
    fileIcons: false
    font: "Default Atom Font"
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "status-bar":
    fullWidth: false
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "terminal-plus":
    style: {}
  "tool-bar":
    fullWidth: false
    iconSize: "16px"
    position: "Left"
    visible: false
  "tree-view": {}
  "tree-view-open-files": {}
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".angular.html.text":
  editor:
    softWrapHangingIndent: 4
".coffee.jsx.source":
  editor:
    softWrapHangingIndent: 4
".coffee.source":
  editor:
    softWrapHangingIndent: 4
".css.scss.source":
  editor:
    softWrapHangingIndent: 4
".dart.source":
  editor:
    softWrapHangingIndent: 4
".diff.source":
  editor:
    softWrapHangingIndent: 4
".html.js.text":
  editor:
    softWrapHangingIndent: 4
".ini.source":
  editor:
    softWrapHangingIndent: 4
".jade.source":
  editor:
    softWrapHangingIndent: 4
  whitespace:
    ignoreWhitespaceOnCurrentLine: true
    removeTrailingWhitespace: false
".js.jsx.source":
  editor:
    softWrapHangingIndent: 4
".js.regexp.replacement.source":
  editor:
    softWrapHangingIndent: 4
".js.regexp.source":
  editor:
    softWrapHangingIndent: 4
".js.source":
  editor:
    softWrapHangingIndent: 4
".litcoffee.source":
  editor:
    softWrapHangingIndent: 4
".plain.text":
  editor:
    softWrapHangingIndent: 4
".sass.source":
  editor:
    softWrapHangingIndent: 4
".source.yaml-ext":
  editor:
    softWrapHangingIndent: 4
".text.todo":
  editor:
    softWrapHangingIndent: 4
