# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# '.workspace':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

'body .native-key-bindings':
  'ctrl-shift-down': 'unset!'
  'ctrl-shift-up': 'unset!'

'body':
  'ctrl-s': 'core:save'
  'ctrl-alt-s': 'window:save-all'
  # 'ctrl-tab ^ctrl': 'unset!'
  # 'ctrl-tab': 'pane:show-next-item'
  # 'ctrl-shift-tab ^ctrl': 'unset!'
  # 'ctrl-shift-tab': 'pane:show-previous-item'

'atom-workspace atom-text-editor:not(.mini)':
  'ctrl-shift-up': 'editor:move-line-up'
  'ctrl-shift-down': 'editor:move-line-down'
  'ctrl-up': 'unset!'
  'ctrl-down': 'unset!'
  'ctrl-,': 'settings-view:open'
  'ctrl-alt-,': 'linter:lint'
  'ctrl-alt-.': 'linter:togglePanel'

'atom-workspace atom-text-editor':
  'home': 'user:smart-home'
  'end': 'user:smart-end'

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'ctrl-alt-a': 'unset!'
  'ctrl-alt-/': 'aligner:align'
  'ctrl-shift-l': 'editor:split-selections-into-lines'
  'ctrl-alt-l': 'grammar-selector:show'
  'ctrl-alt-c': 'unset!'

# Stop emmet from hijacking tab from snippets and autocomplete
'atom-text-editor.autocomplete-active:not([mini])':
  'tab': 'autocomplete-plus:confirm'

# Stop emmet from hijacking tab from snippet tab stops
'atom-text-editor[data-grammar="text html basic"]:not([mini]), atom-text-editor[data-grammar~="jade"]:not([mini]), atom-text-editor[data-grammar~="css"]:not([mini]), atom-text-editor[data-grammar~="sass"]:not([mini])':
  'tab': 'docblockr:parse-tab'

# Stop atom from hijacking ctrl-e from emmet
'.platform-win32 atom-text-editor:not([mini]), .platform-linux atom-text-editor:not([mini])':
  'ctrl-e': 'emmet:expand-abbreviation'

'atom-text-editor[data-grammar~="html"]:not([mini])':
  # Close html tags
  'alt-.': 'bracket-matcher:close-tag'
  'alt-/': 'bracket-matcher:close-tag'
