packages: [
  "aligner"
  "aligner-css"
  "aligner-scss"
  "atom-beautify"
  "atom-fuzzy-grep"
  "atom-jade"
  "autocomplete-paths"
  "autocomplete-php"
  "autoprefixer"
  "coffee-compile"
  "color-picker"
  "docblockr"
  "editorconfig"
  "emmet"
  "file-icons"
  "fonts"
  "git-blame"
  "git-plus"
  "gutter-shadow"
  "highlight-selected"
  "isotope-light-ui"
  "isotope-ui"
  "language-ejs"
  "language-ini"
  "language-lsl"
  "language-lua"
  "linter"
  "linter-coffeelint"
  "linter-jscs"
  "linter-jshint"
  "minimap"
  "minimap-bookmarks"
  "minimap-color-highlight"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "minimap-linter"
  "minimap-selection"
  "monokai"
  "monokai-seti"
  "open-recent"
  "open-vim"
  "package-sync"
  "pane-split-moves-tab"
  "php-twig"
  "pigments"
  "project-manager"
  "revert-buffer"
  "seti-syntax"
  "seti-ui"
  "sort-lines"
  "Sublime-Style-Column-Selection"
]
