packages: [
  "advanced-open-file"
  "aligner"
  "aligner-css"
  "aligner-javascript"
  "aligner-scss"
  "an-old-hope-syntax"
  "apex-adapt-dark-slim-ui"
  "apex-adapt-dark-ui"
  "apex-muted-ui"
  "ariake-dark-syntax"
  "atom-beautify"
  "atom-fuzzy-grep"
  "atom-ide-dark-syntax"
  "atom-ide-ui"
  "atom-jade"
  "atom-material-syntax"
  "atom-material-syntax-dark"
  "atom-material-syntax-light"
  "atom-material-ui"
  "atom-panda-syntax"
  "atom-ternjs"
  "atom-toolbar"
  "atom-typescript"
  "autocomplete-haskell"
  "autocomplete-modules"
  "autocomplete-paths"
  "autocomplete-php"
  "autoprefixer"
  "base16-syntax"
  "blame"
  "bubblegum-dark-syntax"
  "busy-signal"
  "caniuse"
  "change-case"
  "chester-atom-syntax"
  "city-lights-icons"
  "city-lights-syntax"
  "city-lights-ui"
  "coffee-compile"
  "color-picker"
  "colorblind-wombat-dark-syntax"
  "ctags-status"
  "dark-side-of-the-moon-syntax"
  "dartlang"
  "dash-syntax"
  "dash-ui"
  "docblockr"
  "editorconfig"
  "file-icons"
  "file-types"
  "firefox-syntax"
  "flex-tool-bar"
  "flowerbed-dark-syntax"
  "fonts"
  "genesis-syntax"
  "genesis-ui"
  "git-plus"
  "git-time-machine"
  "glacier-dark-syntax"
  "glacier-dark-ui"
  "gruvbox-plus-syntax"
  "haskell-ghc-mod"
  "hey-pane"
  "highlight-line"
  "highlight-selected"
  "hopscotch"
  "hyperclick"
  "icecream-nord-syntax"
  "ide-css"
  "ide-html"
  "ide-java"
  "ide-json"
  "ide-python"
  "ide-typescript"
  "ide-vue"
  "ide-yaml"
  "improved-chester-atom-syntax"
  "intentions"
  "javascript-snippets"
  "language-babel"
  "language-docker"
  "language-ejs"
  "language-haskell"
  "language-ini"
  "language-lsl"
  "language-lua"
  "language-lua-wow"
  "language-markdown"
  "language-pug"
  "language-stylus"
  "language-toc-wow"
  "language-viml"
  "language-vue"
  "linter"
  "linter-coffeelint"
  "linter-csslint"
  "linter-eslint"
  "linter-sass-lint"
  "linter-stylelint"
  "linter-ui-default"
  "loved-syntax"
  "markdown-writer"
  "material-palenight-syntax"
  "minimap"
  "minimap-autohider"
  "minimap-bookmarks"
  "minimap-color-highlight"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "minimap-linter"
  "minimap-selection"
  "monokai"
  "monokai-seti"
  "moonlight"
  "nebula-syntax"
  "nebula-ui"
  "night-owl-syntax"
  "night-owl-ui"
  "nord-atom-syntax"
  "nord-atom-ui"
  "northem-atom-syntax"
  "northem-atom-ui"
  "northem-dark-atom-syntax"
  "northem-dark-atom-ui"
  "nova-atom-syntax"
  "nova-atom-ui"
  "nucleus-dark-ui"
  "nyan-indent"
  "oceanic-next"
  "one-dark-vivid-syntax"
  "one-purple-syntax"
  "open-recent"
  "open-vim"
  "package-sync"
  "photon-dark-syntax"
  "pigments"
  "pop-syntax"
  "pop-ui"
  "pristine-ui"
  "project-manager"
  "pure-syntax"
  "ramda-syntax"
  "react"
  "red-panda-syntax"
  "revert-buffer"
  "seti-syntax"
  "seti-ui"
  "slime"
  "sort-lines"
  "styri-syntax"
  "Sublime-Style-Column-Selection"
  "svg-preview"
  "tablr"
  "tag"
  "teletype"
  "todo-show"
  "tool-bar"
  "xatom-debug"
  "xatom-debug-chrome"
  "xatom-debug-nodejs"
  "Zen"
]
