packages: [
  "aligner"
  "aligner-css"
  "aligner-scss"
  "an-old-hope-syntax"
  "angularjs"
  "atom-beautify"
  "atom-fuzzy-grep"
  "atom-jade"
  "atom-material-syntax"
  "atom-material-syntax-dark"
  "atom-material-syntax-light"
  "atom-material-ui"
  "atom-polymer"
  "atom-ternjs"
  "atom-toolbar"
  "atom-typescript"
  "autocomplete-haskell"
  "autocomplete-modules"
  "autocomplete-paths"
  "autocomplete-php"
  "autoprefixer"
  "caniuse"
  "coffee-compile"
  "color-picker"
  "ctags-status"
  "dartlang"
  "docblockr"
  "editorconfig"
  "emmet"
  "file-icons"
  "file-types"
  "flex-tool-bar"
  "fonts"
  "genesis-syntax"
  "genesis-ui"
  "git-blame"
  "git-plus"
  "gutter-shadow"
  "haskell-ghc-mod"
  "highlight-line"
  "highlight-selected"
  "indent-guide-improved"
  "isotope-light-ui"
  "isotope-ui"
  "javascript-snippets"
  "language-coffee-script-angular"
  "language-docker"
  "language-ejs"
  "language-haskell"
  "language-ini"
  "language-lsl"
  "language-lua"
  "linter"
  "linter-coffeelint"
  "linter-csslint"
  "linter-eslint"
  "linter-jscs"
  "linter-jshint"
  "linter-scss-lint"
  "markdown-writer"
  "merge-conflicts"
  "minimap"
  "minimap-bookmarks"
  "minimap-color-highlight"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "minimap-linter"
  "minimap-selection"
  "monokai"
  "monokai-seti"
  "nucleus-dark-ui"
  "open-recent"
  "open-vim"
  "package-sync"
  "pigments"
  "polymer-snippets"
  "project-manager"
  "react"
  "react-es6-snippets"
  "revert-buffer"
  "seti-syntax"
  "seti-ui"
  "sort-lines"
  "Sublime-Style-Column-Selection"
  "svg-preview"
  "synced-sidebar"
  "tool-bar"
]
