[
  {
    title: "🐈 nyamarks"
    group: "personal"
    paths: [
      "/home/nsdragon/Development/nyamarks"
    ]
    icon: "icon-bookmark"
  }
  {
    title: "⚽ smart-league"
    group: "work"
    paths: [
      "/home/nsdragon/Development/vo/smart-league/webapp"
    ]
    icon: "icon-repo"
  }
  {
    title: "HSBC Promotions"
    group: "work"
    paths: [
      "/home/nsdragon/Development/vo/hsbc/promotions"
    ]
  }
  {
    title: "Club Premier: New Signup Flow"
    paths: [
      "/home/nsdragon/Development/vo/clubpremier/new-signup-flow"
    ]
  }
]
