'super-nyancraft':
  'title': 'super-nyancraft'
  'paths': [
    '/home/nsdragon/Minecraft/MultiMC/instances/Super Nyancraft/minecraft'
  ]
'gulp-webapp':
  'icon': 'icon-file-media'
  'title': 'gulp-webapp'
  'paths': [
    '/home/nsdragon/Development/nsdragon.net/gulp-webapp'
  ]
'fa-nova':
  'icon': 'icon-squirrel'
  'title': 'FA-Nova'
  'paths': [
    '/home/nsdragon/Development/fa-nova'
  ]
'cal-c-tose':
  'title': 'Cal-C-Tose'
  'paths': [
    '/home/nsdragon/Development/vinco-orbis/calctose/web'
  ]
